{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ url('sonata_admin_dashboard') }}">
            <i class="fa fa-home"></i>
        </a>
    </li>

    {% set listLabel     = admin.objectClass.label ?: admin.objectClass.name  %}
    {% set itemLabel     = object.__toString() %}
    {% set listObjectUrl = path('composite_object_instance_list', {'class' : admin.objectClass.name}) %}

    <li><a href="{{ listObjectUrl }}">{{ listLabel }}</a></li>

    <li class="active"><span>{{ itemLabel }}</span></li>
{% endblock %}

