{% extends 'GlavwebCmsCoreBundle::sonata_admin_list.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ url('sonata_admin_dashboard') }}">
            <i class="fa fa-home"></i>
        </a>
    </li>

    {% set label = admin.objectClass.label ?: admin.objectClass.name  %}
    <li class="active"><span>{{ label }}</span></li>
{% endblock %}

